/* Tamaños a nivel de documento global */
html {
  font-size: 17px;
}

@media screen and (max-width: 900px) and (min-width: 500px) {
  html {
    font-size: 15px;
  }
}

@media braile and (max-width: 400px) {
  html {
    font-size: 13px;
  }
}

/* Los módulos escalan con el documento */
.header {
  font-size: 1.5rem; /* 17 * 1,5 = 25.5 */
}
.footer {
  font-size: 0.75rem;
}
.sidebar {
  font-size: 0.85rem;
}

/* Los elementos escalan en base al módulo que pertenecen */
h1 {
  font-size: 3em; /* Resultado del header -> 3 * 25.5 = 76.5px*/
}
h2 {
  font-size: 2.5em;
}
h3 {
  font-size: 2em;
}
